/* Estilização base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    line-height: 1.6;

}

.container {
    width: 100%;
    margin: 0 auto;

}




.navegacao{
    background-color: 	#1a80b3;
    /* background-image: url('../img/bgnav.jpg'); */
    background-image: linear-gradient(
        to left,
        rgb(162, 0, 255)40%,
        #1a80b3
    );
    min-height: 100px;
    
  }
  nav a {
    color: #fff;
    /* text-decoration: none; */
    font-size: 1.5rem;
    margin-left: 10px;
    
  }

  nav a:hover{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
    
    /* font-size: 1.3rem; */
  }

/* SESSÃO ANALISE.HTML */
 #sessaoDash{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: auto;
    gap: .5em;

    text-align: center;
    
}

footer {
    display: flex;
    /* background: #1a80b3; */
    color: #fff;
    min-height: 250px;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
    margin: 0 auto;
    /* text-align: center; */
    justify-content: center;
    background-image: linear-gradient(
        to left,
        rgb(162, 0, 255)40%,
        #1a80b3
    );
}

footer nav{
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
}

/* FIM DA SESSÃO ANALISE.HTML */

/* Tela Sobre nós */
.jumbotron h1{
    text-align: center;
}

      /* Estilização responsiva */
@media (max-width: 768px) {

    /* body{
        background-color: red;
    } */

    .container {
        width: 90%;
    }
    #sessaoDash{
        display: none;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .image-grid {
        flex-direction: column;
    }
  
}
  
