/* Estilização base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    width: 100%;
    margin: 0 auto;
}


footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}

.navegacao{
    background-color: rgba(37, 4, 86, 0.9);
  }
  nav a {
    color: #fff;
    /* text-decoration: none; */
    font-size: 1.2rem;
    margin-left: 10px;
    
  }

  nav a:hover{
    text-decoration: none;
    /* font-size: 1.3rem; */
  }

/* SESSÃO ANALISE.HTML */
 #sessaoDash{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: auto;
    gap: .5em;

    text-align: center;
    
}

/* FIM DA SESSÃO ANALISE.HTML */

      /* Estilização responsiva */
@media (max-width: 768px) {

    body{
        background-color: red;
    }

    .container {
        width: 90%;
    }
    #sessaoDash{
        display: none;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 0.5rem 0;
    }

    .image-grid {
        flex-direction: column;
    }
  
}
  
